# ignore everything
/*
/*/

# ... but these:
!/Readme.org
!/.gitignore
!/waybar/
!/hypr/
!/rofi/
!/elvish/
!/ranger/
!/kitty/
!/dunst/
!/alacritty/
!/zellij/
!/yazi/
!/starship.toml
!/fcitx
!/fcitx5
!/PlotJuggler
!/btop
!/flameshot
!/lazygit
!/lazydocker
!/neofetch
!/ripgrep-all
!/waveterm
!/mintty

/kitty/*.bk
/*/*.bak